extends ../_core/_html

block append vars
  - layout = '_basic/_html'
  include _vars
  - INCLUDE_THEMEJS = true

block stylesheet
  -
    fonts = [
      'https://fonts.googleapis.com/css2?',
      [
        'family=Roboto:ital,wght@0,100..900;1,100..900',
        //- 'family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700',
        //- 'family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700',
        'family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700',
      ].join('&'),
      'display=swap'
    ].join('&');
  link(rel="preconnect" href="https://fonts.googleapis.com")/
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)/
  link(href=fonts rel="stylesheet")#_fonts/
  +cssv(homeUri+'css/nova.css')#_style
  +cssv(homeUri+'css/basic.css')#_basicStyle

mixin backNav(backLink)
  ._flex._color_2
    div: +a(backLink||'./')._a1m|#[+isvg(svgi.angle,'_licon')._rotate180]Back
    ._f: block
    div: +changeThemeLink._a1m: +isvg(svgi.compare,'_cicon')

mixin logo_bar
  ._color_1
    +logo
    span#maindesc!=description

mixin simplestHeader
  header#_header
    +logo_bar

mixin simpleHeader
  header#_header
    +logo_bar
    +main_nav

mixin basic_helloWorld
  pre.pre._blockquote._scrollable.
    &nbsp;
    This is a place-holder content.
    Edit this document to get started.
    &nbsp;
  +backButton._a3m|#[+isvg(svgi.angle,'_licon')._rotate180]Back

block header
  header#_header._container: h1._h1 !{title}

block article
  article._article
    section._container._mt0._scrollable: +basic_helloWorld
    hr
    section._container._scrollable: pre.pre: +pageData()

mixin bottomRightLinks(href,text)
  ._small: +a(href||homeUri)._a2._hover_color!=text||'Home'

block footer
  footer#_footer._color
    ._relative: ._absolute._right: ._container
      block bottomRightLinks
        +bottomRightLinks
    ._container: small| &copy; !{year} !{author}
