mixin menu_a(v,classes)
  if typeof v === 'string'
    span._inblock._mh_25|!{v}
  else
    a(href=homeUri+v[1] class=classes.join(' ') title=v[3]) !{v[2]}

mixin menu_m1(links)
  nav._container
    each v in links
      - classes = ['_no_u'];
      - if(pageid === v[0]) classes = ['_no_color']
      +l
      +menu_a(v,classes)

mixin menu_a11(links)
  nav
    each v in links
      - classes = ['_a11'];
      - if(pageid === v[0]) classes.push('_active')
      +menu_a(v,classes)

mixin menu_a2(links)
  nav._container
    each v in links
      - classes = ['_a2'];
      - if(pageid === v[0]) classes.push('_active')
      +menu_a(v,classes)

//- --------------------------------------------------------------

//- pageid, uri, title

mixin main_menu
  +menu_a11([
    ['starter','starter','Starter'],
    ['basic','basic','Basic'],
    ['lab','lab','Lab'],
  ])

mixin main_nav
  #_main_nav._color_2._flex
    ._f: +main_menu
    ._fit: +changeThemeLink._a11: +itext('_cicon')|☀
  hr._m0