extends ../../main/_html

block append vars
  -
    pageid      = 'core'
    pageUrl     = siteUrl + '/core/index.html'
    title       = `Core | ${name}`
    description = 'Core components.'

block header
  header._container
    +logo
    span#maindesc= description
  +main_nav

mixin menu(links)
  each v in links
    a(href=homeUri+v[1] title=v[3])._a2 !{v[2]}

block article
  +core_nav
  hr
  article
    nav._container
      +menu([
        ['core/html','core/html.html','Html'],
        ['core/blank','core/blank.html','Blank'],
        ['core/error','core/error.html','Error'],
        ['core/500','core/e500.html','500'],
        ['core/400','core/e400.html','400'],
        ['core/401','core/e401.html','401'],
        ['core/403','core/e403.html','403'],
        ['core/404','core/e404.html','404'],
        ['404','404','&middot;&middot;','Simulate real 404'],
      ])
    hr
