extends _html

block append vars
  -
    pageid      = 'index'
    pageUrl     = siteUrl + '/index.html'
    title       = name
    description = 'Simple framework for websites and web applications.'

block append style
  style.
    #logo {
      display: block;
      text-align: center;
      font-size: 3rem;
      margin: 1em auto;
    }
    #maindesc {
      font-size:1rem;
      text-align: center;
      position: relative;
      top: -3em;
      margin:1em auto;
      font-weight: 400;
      color: inherit;
    }
  //- style.

block header
  header#_header
    ._color_1._pad: ._center_m._table
      h1: +logo
      h2#maindesc|!{description}
    hr._m0
    +main_nav

block article
  article._article(style="margin:1em auto")
    //- section._container: pre.pre._scrollable: +pageData
    //- hr
    section._container: pre._scrollable.pre.
      Name         : !{name}
      Version      : !{version}

      Title        : !{title}
      Description  : !{description}

      URL          : !{pageUrl}
      URI          : !{homeUri} 

      Author       : !{author}
      Year         : !{year}
      LICENSE      : !{license}

      Last updated : !{today}
    |

block bottomRightLinks
  +bottomRightLinks('/')

//- block append script
  script.
    (()=>{
      const
        w = window,
        storage = localStorage,
        { log } = console;
    })();
  //- 