extends _html

block append vars
  -
    pageid      = 'index'
    pageUrl     = siteUrl + '/index.html'
    title       = name
    description = 'Simple framework for websites and web applications.'

  - htmlClass.push('mainPage')

block header
  header#_header
    ._color_1._pad: ._m_center._table.table
      h1: +logo
      h2#maindesc|!{description}
    nav#_main_nav._color_1._flex
      ._f._pa_5
        +menues(['_a3m'],[
          ['starter','starter','Starter'],
          ['pure','pure','Pure'],
          ['basic','basic','Basic'],
          ['core','core','Core'],
          ['lab','lab','Lab'],
        ])
      ._fit._pa_5: +changeThemeLink._a2m: +isvg(svgi.compare,'_cicon')
    hr._mt0

block article
  article._article
    //- section._container: pre.pre._scrollable: +pageData
    //- hr
    section._scrollable._container: pre.pre.
      Name         : !{name}
      Version      : !{version}

      Title        : !{title}
      Description  : !{description}

      URL          : !{pageUrl}
      URI          : !{homeUri} 

      Author       : !{author}
      Year         : !{year}
      LICENSE      : !{license}

      Last updated : !{today}
    |

block bottomRightLinks
  +bottomRightLinks('/')

//- block append script
  script.
    (()=>{
      const
        w = window,
        storage = localStorage,
        { log } = console;
    })();
  //- 