extends ../../_basic/_html

block append vars
  -
    pageid      = 'themejs'
    pageUrl     = siteUrl + '/themejs/test.html'
    title       = `ThemeJS Test`
    description = 'Testing ThemeJS'
  -
    INCLUDE_THEMEJS = false;
    htmlClass.push('_hidden')

mixin lab_nav
  #_main_nav._color_2._flex
    ._fit: +a(homeUri+'lab')._a11|#[+isvg(svgi.angle,'_licon')._rotate_180]Back
    ._f
      span(style="padding:0 .5em;line-height:1.8em;"): span#jss._b._small._mono='[JS:--]'
      +menu_a11([
      ])
    ._fit: +changeThemeLink._a11: +itext('_cicon')|☀
  hr._m0

block header
  +simplestHeader
  +lab_nav

block article
  article._article

    style.
      #btns button {
        margin: .1em;
        font-size: 0.8rem;
        min-height: 1.5rem;
        vertical-align: top;
        line-height: inherit;
      }
    section._container#btns._flex
      ._fit._no_wrap._indiv
        button(onclick='test.storeAdd();' title="Add Store")._a3|Store
        button(onclick='test.storeCheck();' title="Store Check")._a3|Check
        button(onclick='test.storeClear();' title="Store Clear")._a3|Clear
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button._a3(onclick="test.reset()") Reset
        button._a3(onclick="test.run()") Run
      ._f
    //- 
      ._fit=' | '
      ._f
        button(onclick='test.run_updateClass();' title="Theme updateClass")._a3|updateClass
      ._fit=' | '
      ._f
        button(onclick='test.run_set();' title="Theme Set")._a3|Set
        button(onclick='test.run_set(1);' title="Theme Set 1")._a3|1
        button(onclick='test.run_set(2);' title="Theme Set 2")._a3|2
        button(onclick='test.run_set(3);' title="Theme Set 3")._a3|3
      ._fit=' | '
      ._f
        button(onclick='test.run_change();' title="Theme Change")._a3|Change
        button(onclick='test.run_reset();' title="Reset Theme")._a3|Reset
      ._fit=' | '
      ._f
        button(onclick='storage.set();' title="Storage Set")._a3|Set
        button(onclick='storage.get();' title="Storage Get")._a3|Get
        button(onclick='storage.remove();' title="Storage Remove")._a3|Remove
    hr._mb0
    style.
      #test .pre { font-size:.8rem }
      #test .sec { max-height:500px }
    #test._flex
      ._fit(style="flex-basis:300px")
        section._scrollable.sec#sec_storage
          pre.pre#storage._container
      ._f
        section._scrollable.sec#sec
          pre.pre#pre._container| // #{description} ..
    hr._mt0
    section._hidden#element

block append script
  //- +jsv(src)
  //- ------------------------------------------------------------
  //- +jsv('/_ace/scripts/ts_js/theme_v1.0.js')(defer)
  //- +jsv('/_ace/scripts/gulp_js/test_theme_v1.0.js')(defer)
  +jsv('/nova/src/files/index/'+'jss/test_theme_v2.0.js')
  //- ------------------------------------------------------------
  +jsv(homeUri+'js/theme_v2.0.js')
  //- ------------------------------------------------------------