extends ../../_basic/_html

block append vars
  -
    pageid      = 'themejs'
    pageUrl     = siteUrl + '/themejs/test.html'
    title       = `ThemeJS Test`
    description = 'Testing ThemeJS'

mixin ghost
  -
    ghost = btoa([
      "localhost",
      "techie-joe.github.io",
      "themejs.pages.dev",
    ]);
  script| window.ghost = '!{ghost}';

block coreScript
  if INCLUDE_THEMEJS
    +fouc
    +ghost
    +jsv('/nova/src/ts-js/theme_v2.0.js')(defer)
    //- +jsv(homeUri+'js/theme_v2.0.js')(defer)

block append script
  //- +jsv(src)
  //- ------------------------------------------------------------
  //- +jsv('/_ace/scripts/ts_js/theme_v1.0.js')(defer)
  //- +jsv('/_ace/scripts/gulp_js/test_theme_v1.0.js')(defer)
  //- ------------------------------------------------------------
  +jsv('/nova/src/test_js/test_theme_v2.0.js')
  //- ------------------------------------------------------------

mixin lab_nav
  #_main_nav._color_2._flex
    ._fit: +a(homeUri+'lab')._a1m|#[+isvg(svgi.angle,'_licon')._rotate_180]Back
    ._f
      span(style="padding:0 .5em;line-height:1.8em;"): span#jss._b._small._mono='[JS:--]' 
      +menu_a11([
      ])
    ._fit: +changeThemeLink._a1m: +itext('_cicon')|☀

mixin _ax(href,title,cls)
  +l
  a(href=href||'#' title=title onclick=onclick())&attributes(attributes): block

block header
  +simplestHeader
  +lab_nav

block article
  article._article._needjs

    style.
      .btns button {
        margin: .1em;
        font-size: 0.8rem;
        min-height: 1.5rem;
        vertical-align: top;
        line-height: inherit;
      }
      .btns .monobtn button { font-family:monospace,monospace; }
    section._container.btns._flex._mb0
      ._fit._no_wrap._indiv
        button(onclick='test.storeSet();' title="Set Store Item")._a3|Set
        button(onclick='test.storeGet();' title="Get Store Item")._a3|Get
        button(onclick='test.storeRemove();' title="Remove Store Item")._a3|Remove
        button(onclick='test.storeClear();' title="Clear Store")._a3|Clear
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button._a3(onclick="test.run()" title="Run Test") Test
        button._a3(onclick="test.test_1()" title="Run Test") T1
        button._a3(onclick="test.test_2()" title="Run Test") T2
        button._a3(onclick="test.reset()" title="Reset Test") Clear
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button(onclick='test.themeChange();' title="Change Theme")._a3|Theme
        button(onclick='test.themeCurrent();' title="Current Theme")._a3|Current
        button(onclick='test.themeReset();' title="Reset Theme")._a3|Reset
      ._fit._text_center='|'
      ._fit._no_wrap._indiv.monobtn
        button(onclick='test.themeSet();' title='theme.set()')._a3='()' 
        button(onclick='test.themeSet("");' title='theme.set("")')._a3|none
        button(onclick='test.themeSet("_dark");' title='theme.set("_dark")')._a3|dark
        button(onclick='test.themeSet("_pink");' title='theme.set("_pink")')._a3|pink
        button(onclick='test.themeSet("_cream");' title='theme.set("_cream")')._a3|cream
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button(onclick='test.themeSet([]);' title='theme.set([])')._a3='[]'
        button(onclick='test.themeSet([""]);' title='theme.set([""])')._a3='S0'
        button(onclick='test.themeSet(["_cream"]);' title='theme.set(["_cream"])')._a3='S1'
        button(onclick='test.themeSet(["_pink",""]);' title='theme.set(["_pink",""])')._a3='S2'
        button(onclick='test.themeSet(["_pink","_cream"]);' title='theme.set(["_pink","_cream"])')._a3='S3'
        button(onclick='test.themeSet(["_cream","","_pink","_dark"]);' title='theme.set(["_cream","","_pink","_dark"])')._a3='S4'
      ._f
    //- 
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button(onclick='test.run_updateClass();' title="Theme updateClass")._a3|updateClass
    hr._mb0
    style.
      #test .pre { font-size:.8rem }
      #test .sec { max-height:450px }
    #test._flex
      ._fit(style="flex-basis:300px")
        section._scrollable.sec#sec_storage
          pre.pre#storage._container
      ._f
        section._scrollable.sec#sec
          pre.pre#pre._container| // #{description} ..

    hr

    #theme._flex
      ._fit(style="flex-basis:350px")
        section._container
          h2._h4 Heading
          p| Paragraph text ..
          blockquote._blockquote blockquote._blockquote
          details._border
            summary._no_select Summary
            div._pa_5 Details
          section._container
            a._a3 Link
            button._a3 Button
            details._inblock
              summary._a3 Summary
              div._relative: ._absolute._color_1._border._pa_5 Details
          hr
          div
            +_ax#hyperlink Hyperlink
            +_ax._link Link
            +_ax._visited Visited
            +_ax._hover Hover
            +_ax._active Active
            br
            +_ax._hover_color Hover-Link
            +_ax._no_color No-Color
          div
            | normal
            | #[code code]
            | #[samp samp]
            | #[kbd kbd]
          div
            | #[span normal]
            | #[span._tc_contra contra]
            | #[span._tc_blue blue]
            | #[span._tc_purple purple]
            | #[span._tc_orange orange]
            | #[span._tc_red red]
            | #[span._tc_green green]

        hr

        style.
          .c > * { padding:.25em .5em }
        //- section.c._container._indiv
          ._inblock._border border
          ._inblock._outline outline
          ._inblock._boxline boxline
          ._inblock._select select
        section.c._container
          ._inblock._color color
          ._inblock._color_1 color_1
          ._inblock._color_2 color_2
        hr._mt0

      ._f

block prepend views
  ._hidden#test_element