extends ../../_basic/_html

block append vars
  -
    pageid      = 'themejs'
    pageUrl     = siteUrl + '/themejs/test.html'
    title       = `ThemeJS Test`
    description = 'Testing ThemeJS'

  - INCLUDE_THEMEJS = false;

block prepend script
  script.
    (()=>{const d=document;(d.documentElement||d.body).classList.add('_hidden');})();

mixin lab_nav
  #_main_nav._color_2._flex
    ._fit: +a(homeUri+'lab')._a11|#[+isvg(svgi.angle,'_licon')._rotate_180]Back
    ._f
      span(style="padding:0 .5em;line-height:1.8em;"): span#jss._b._small._mono='[JS:--]'
      +menu_a11([
      ])
    ._fit: +changeThemeLink._a11: +itext('_cicon')|☀
  hr._m0

block header
  +simplestHeader
  +lab_nav

block article
  article._article

    style.
      .btns button {
        margin: .1em;
        font-size: 0.8rem;
        min-height: 1.5rem;
        vertical-align: top;
        line-height: inherit;
      }
      .btns .monobtn button { font-family:monospace,monospace; }
    section._container.btns._flex._mb0
      ._fit._no_wrap._indiv
        button(onclick='test.storeAdd();' title="Add Store Item")._a3|Store
        button(onclick='test.storeGet();' title="Get Store Item")._a3|Get
        button(onclick='test.storeRemove();' title="Remove Store Item")._a3|Remove
        button(onclick='test.storeClear();' title="Clear Store")._a3|Clear
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button(onclick='test.themeCurrent();' title="Current Theme")._a3|Theme
        button(onclick='test.themeChange();' title="Change Theme")._a3|Change
        button(onclick='test.themeReset();' title="Reset Theme")._a3|Reset
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button._a3(onclick="test.run()" title="Run Test") Test
        button._a3(onclick='test.sync();' title="Sync Status")|Sync
        button._a3(onclick="test.reset()" title="Reset Test") Reset
      ._f
    section._container.btns._flex._mt0
      ._fit._no_wrap._indiv.monobtn
        button(onclick='test.themeSet();' title='theme.set()')._a3='()'
        button(onclick='test.themeSet("");' title='theme.set("")')._a3|none
        button(onclick='test.themeSet("_dark");' title='theme.set("_dark")')._a3|dark
        button(onclick='test.themeSet("_pink");' title='theme.set("_pink")')._a3|pink
        button(onclick='test.themeSet("_tan");' title='theme.set("_tan")')._a3|tan
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button(onclick='test.themeSet([]);' title='theme.set([])')._a3='[]'
        button(onclick='test.themeSet([""]);' title='theme.set([""])')._a3='S0'
        button(onclick='test.themeSet(["","_dark"]);' title='theme.set(["","_dark"])')._a3='S1'
        button(onclick='test.themeSet(["_pink","_tan"]);' title='theme.set(["_pink","_tan"])')._a3='S2'
        button(onclick='test.themeSet(["","_dark","_pink","_tan"]);' title='theme.set(["","_dark","_pink","_tan"])')._a3='S3'
      ._f
    //- 
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button(onclick='test.run_updateClass();' title="Theme updateClass")._a3|updateClass
    hr._mb0
    style.
      #test .pre { font-size:.8rem }
      #test .sec { max-height:450px }
    #test._flex
      ._fit(style="flex-basis:300px")
        section._scrollable.sec#sec_storage
          pre.pre#storage._container
      ._f
        section._scrollable.sec#sec
          pre.pre#pre._container| // #{description} ..
    hr._mt0

block prepend views
  template._hidden#tes

block append script
  //- +jsv(src)
  //- ------------------------------------------------------------
  //- +jsv('/_ace/scripts/ts_js/theme_v1.0.js')(defer)
  //- +jsv('/_ace/scripts/gulp_js/test_theme_v1.0.js')(defer)
  //- ------------------------------------------------------------
  +jsv('/nova/src/files/index/'+'jss/test_theme_v2.0.js')
  //- +jsv(homeUri+'jss/test_theme_v2.0.js')
  //- ------------------------------------------------------------
  +jsv(homeUri+'js/theme_v2.0.js')
  //- ------------------------------------------------------------
