extends _html

block append vars
  -
    pageid      = 'basic/link'
    pageUrl     = siteUrl + '/basic/link.html'
    title       = `Link`
    description = 'Intuitive hyperlink styles'

mixin ax(href,title,cls)
  a(href=href||'#' title=title onclick=onclick())._no_wrap&attributes(attributes): block

mixin _ax(href,title,cls)
  +l
  a(href=href||'#' title=title onclick=onclick())._no_wrap&attributes(attributes): block

block article
  article._article

    mixin clink
      +ax._a2m.__primary| Primary
      +ax._a2m.__secondary| Secondary
      +ax._a2m._active| Active
      +ax._a2m._hover| Hover
      +ax._a2m| Ordinary

    hr._m0
    section._color._pa_5: +clink
    hr._m0
    section._color_1._pa_5: +clink
    hr._m0
    section._color_2._pa_5: +clink
    hr._m0

    section._flex
      ._f
        mixin ilinks(cls)
          +ax(class=cls)| #[+itext('_cicon')|☀]
          //- +ax(class=cls)| #[+isvg(svgi.compare,'_cicon')]
          //- +ax(class=cls)| #[+itext('_licon')|☀]Link
          //- +ax(class=cls)| #[+isvg(svgi.compare,'_licon')]Link
          +ax(class=cls)._active| #[+itext('_cicon')|☀]
          +ax(class=cls)._active| #[+isvg(svgi.compare,'_cicon')]
          +ax(class=cls)._active| #[+itext('_licon')|☀]Link
          +ax(class=cls)._active| #[+isvg(svgi.compare,'_licon')]Link
        ._container: +ilinks('_a3m')
        hr._m0
        ._container: +ilinks('_a3')
        hr._m0
        ._container: +ilinks('_a2m')
        hr._m0
        ._container: +ilinks('_a2')
        hr._m0
        ._mh_5: +ilinks('_a1m')
        hr._m0
        ._mh_5: +ilinks('_a1')
        hr._mt0
      ._f
        mixin nlinks(cls,id)
          +a(href='#' class=cls id=id)| Hyperlink
          +ax(class=cls)._link| Link
          +ax(class=cls)._visited| Visited
          +ax(class=cls)._active| Active
          +ax(class=cls)._hover| Hover
          script.
            document.getElementById('#{id}').href+='?t=#{cls}'+(new Date().getTime());
        ._container: +nlinks('_a3m','hyperlink3m')
        hr._m0
        ._container: +nlinks('_a3','hyperlink3')
        hr._m0
        ._container: +nlinks('_a2m','hyperlink2m')
        hr._m0
        ._container: +nlinks('_a2','hyperlink2')
        hr._m0
        ._mh_5: +nlinks('_a1m','hyperlink1m')
        hr._m0
        ._mh_5: +nlinks('_a1','hyperlink1')
        hr._mt0
    //- section.flex

    section._mh_5: ._indiv
      +ax._hover_color._a2| #[+isvg(svgi.bars,'_cicon')]
      span|Text&nbsp;
      +ax._hover_color._hover_u| Link
      +ax._hover_color._a2| Link
      +ax._hover_color._a2| #[+isvg(svgi.compare,'_licon')]Link
      +ax._hover_color._a3| #[+isvg(svgi.compare,'_licon')]Link
      +ax._hover_color._a3m| #[+isvg(svgi.compare,'_licon')]Link
      button._a3m| #[+isvg(svgi.compare,'_licon')]Button

    hr

    section._mh_5: ._indiv
      +ax._hover_color._hover_u| #[+isvg(svgi.bars)]
      span|Text&nbsp;
      +ax._hover_color._hover_u| Link
      +ax._hover_color._hover_u| #[+itext|☀]
      +ax._hover_color._hover_u| #[+itext|☀]Link
      +ax._hover_color._hover_u| #[+isvg(svgi.compare)]
      +ax._hover_color._hover_u| #[+isvg(svgi.compare)]Link

    hr

    section._container
      +_a#hyperlink_i: +isvg(svgi.compare)
      +_ax._link: +isvg(svgi.compare)
      +_ax._visited: +isvg(svgi.compare)
      +_ax._hover: +isvg(svgi.compare)
      +_ax._active: +isvg(svgi.compare)
      +_ax._no_color: +isvg(svgi.compare)
      br
      +_a#hyperlink Hyperlink
      +_ax._link Link
      +_ax._visited Visited
      +_ax._hover Hover
      +_ax._active Active
      +_ax._no_color No-Color
      br
      +_ax._no_color._hover_u Hover-Underline
      +_ax._hover_color Hover-Color
      br
      +_ax._no_color._hover_u Underline
      +_ax._no_color._hover_u._u_dotted Dotted
      +_ax._no_color._hover_u._u_dashed Dashed
      +_ax._no_color._hover_u._u_double Double
      +_ax._no_color._hover_u._u_wavy Wavy
      br
      +_ax._hover_color Underline
      +_ax._hover_color._u_dotted Dotted
      +_ax._hover_color._u_dashed Dashed
      +_ax._hover_color._u_double Double
      +_ax._hover_color._u_wavy Wavy
      br
      script.
        (()=>{
          var t='?t='+(new Date().getTime());
          document.getElementById('hyperlink').href+=t;
          document.getElementById('hyperlink_i').href+=t;
        })();
