extends _html

block append vars
  -
    pageid      = 'basic/link'
    pageUrl     = siteUrl + '/basic/link.html'
    title       = `Link`
    description = 'Intuitive hyperlink styles.'

block article
  article._article

    ._flex(style="margin-top:-.5rem")
      ._f
        mixin ilinks(cls)
          a(href='#' class=cls): +itext('_cicon')|☀
          a(href='#' class=cls): +isvg(svgi.compare,'_cicon')
          a(href='#' class=cls)| #[+itext('_licon')|☀]Link
          a(href='#' class=cls)| #[+isvg(svgi.compare,'_licon')]Link
          a(href='#' class=cls)._hover: +itext('_cicon')|☀
          a(href='#' class=cls)._hover: +isvg(svgi.compare,'_cicon')
          a(href='#' class=cls)._hover| #[+itext('_licon')|☀]Link
          a(href='#' class=cls)._hover| #[+isvg(svgi.compare,'_licon')]Link
        nav._container: +ilinks('_a31')
        hr._m0
        nav._container: +ilinks('_a3')
        hr._m0
        nav._container: +ilinks('_a2')
        hr._m0
        nav: +ilinks('_a11')
        hr._m0
        nav: +ilinks('_a1')
        hr._m0
      ._f
        mixin nlinks(cls,id)
          a(href='#' class=cls id=id) Hyperlink
          a(href='#' class=cls)._link Link
          a(href='#' class=cls)._visited Visited
          a(href='#' class=cls)._hover Hover
          a(href='#' class=cls)._active Active
          script.
            document.getElementById('#{id}').href+='?t='+(new Date().getTime());
        nav._container: +nlinks('_a31','hyperlink31')
        hr._m0
        nav._container: +nlinks('_a3','hyperlink3')
        hr._m0
        nav._container: +nlinks('_a2','hyperlink2')
        hr._m0
        nav: +nlinks('_a11','hyperlink11')
        hr._m0
        nav: +nlinks('_a1','hyperlink1')
        hr._m0
    //- flex
    section._container
      |#[a(href='#')._hover_link._hover_u| #[+isvg(svgi.compare,'_mr_125')]Link] 
      |#[a(href='#')._hover_link._hover_u| #[+itext('_mr_125')|☀]Link] 
      br
      |#[a(href='#')#hyperlink_i: +isvg(svgi.compare)] 
      |#[a(href='#')._link: +isvg(svgi.compare)] 
      |#[a(href='#')._visited: +isvg(svgi.compare)] 
      |#[a(href='#')._hover: +isvg(svgi.compare)] 
      |#[a(href='#')._active: +isvg(svgi.compare)] 
      |#[a(href='#')._hover_link: +isvg(svgi.compare)] 
      |#[a(href='#')._no_color: +isvg(svgi.compare)] 
      br
      |#[a(href='#')#hyperlink Hyperlink] 
      |#[a(href='#')._link Link] 
      |#[a(href='#')._visited Visited] 
      |#[a(href='#')._hover Hover] 
      |#[a(href='#')._active Active] 
      |#[a(href='#')._hover_link Hover-Link] 
      |#[a(href='#')._no_color No-Color] 
      br
      |#[a(href='#')._hover_link._hover_u Hover-Underline] 
      |#[a(href='#')._hover_link Underline] 
      |#[a(href='#')._hover_link._u_dotted Dotted] 
      |#[a(href='#')._hover_link._u_dashed Dashed] 
      |#[a(href='#')._hover_link._u_double Double] 
      |#[a(href='#')._hover_link._u_wavy Wavy] 
      |#[a(href='#')._hover_link._no_u No-Underline] 
      br
      script.
        (()=>{
          var t='?t='+(new Date().getTime());
          document.getElementById('hyperlink').href+=t;
          document.getElementById('hyperlink_i').href+=t;
        })();
