mixin menu_style_1(links)
  nav._container
    each v in links
      - classes = ['_no_u'];
      - if(pageid === v[0]) classes = ['_no_color']
      +l
      a(href=homeUri+v[1] class=classes.join(' ') title=v[3]) #{v[2]}

mixin menu_style_a1(links)
  nav
    each v in links
      - classes = ['_a11'];
      - if(pageid === v[0]) classes = ['_a11 _active']
      a(href=homeUri+v[1] class=classes.join(' ') title=v[3]) #{v[2]}

mixin menu_style_a2(links)
  nav._container
    each v in links
      - classes = ['_a2'];
      - if(pageid === v[0]) classes = ['_a2 _active']
      a(href=homeUri+v[1] class=classes.join(' ') title=v[3]) #{v[2]}

mixin main_nav
  hr._m0
  #_main_nav._color_2
    //- pageid, uri, title
    +menu_style_a1([
      ['core','core','Core'],
      ['basics','basics','Basics'],
      ['lab','lab','Lab'],
    ])
  hr._m0

mixin core_nav
  //- pageid, uri, title
  //- ['core/form','core/form.html','Form'],
  //- ['core/fieldset','core/fieldset.html','Fieldset'],
  //- ['core/legend','core/legend.html','Legend'], 
  //- ['core/label','core/label.html','Label'],
  //- ['core/input','core/input.html','Input'],
  //- ['core/select','core/select.html','Select'],
  //- ['core/textarea','core/textarea.html','Textarea'],
  //- ['core/checkbox','core/checkbox.html','Checkbox'],
  //- ['core/radio','core/radio.html','Radio'],
  //- ['core/image','core/image.html','Image'],
  //- ['core/table','core/table.html','Table'],
  //- ['core/button','core/button.html','Button'],
  +menu_style_a2([
    ['core/basic','core/basic.html','Basic'],
    ['core/text','core/text.html','Text'],
    ['core/table','core/table.html','Table'],
    ['core/link','core/link.html','Link'],
    ['core/details','core/details.html','Details'],
    ['core/flex','core/flex.html','Flex'],
    ['core/container','core/container.html','Container'],
    ['core/alignment','core/alignment.html','Alignment'],
  ])

mixin basic_nav
  //- pageid, uri, title
  //- ['basics/temp','basics/index.html','Home'],
  +menu_style_a2([
  ])

mixin lab_nav
  //- pageid, uri, title
  +menu_style_a2([
    ['lab/temp','lab/temp.html','Temp'],
    ['lab/test','lab/test.html','Test'],
    ['lab/storage','lab/storage.html','Storage'],
    ['lab/text','lab/text.html','Text'],
    ['lab/flex960','lab/flex960.html','Flex-960'],
  ])
