include _functions
include _mixins
include _vars

block vars
  - layout = 'core/_html'
  -
    htmlClass = []
    mainClass = []

block updatePageData
  -
    if(INCLUDE_THEMEJS) { htmlClass.push('_hidden') }
    og_title = title
    og_description = description
    og_url  = pageUrl? pageUrl + '?utm_source=homescreen' : undefined;

doctype html
html(lang=lang class=htmlClass.join(' '))
  |
  | <!-- #{name} v#{version} | #{copyright} -->
  | <!-- layout:#{layout} -->
  |
  block head
    head

      block meta
        include _meta
        include _seo

      block stylesheet
      
      block style
        style| /* your style goes here */
        //- style.

  block body
    body

      block header
        header

      block main
        main(class=mainClass.join(' '))

          block article
            article
              pre.

                Hello, there.
                This is a template to get you started.
                Copy the code from '#[code !{pageid}]' to create your own page.

                #[a(href=homeUri+'/basic') Back]
              //- pre.
              hr
              pre: +pageData()

          block side_article
            aside#_side_article
      
      block side_bar
        aside#_side_bar

      block footer
        footer
          hr
          ._container: small| &copy; !{year} !{author}

      block widget
        aside#_widgets
      
      block script
        //- +jsv(src)

        if INCLUDE_THEMEJS
          +jsv(homeUri+'js/theme_v2.0.js')

        if INCLUDE_SERVICE_WORKERS
          +jsv(homeUri+'sw/sw.j')(defer)

        script| // your script goes here
        //- script.

      block final