include _functions
include _mixins
include _vars

block vars
  - layout = 'core/_html'
  -
    htmlClass = []
    bodyClass = []
    mainClass = []

block updatePageData
  -
    if(INCLUDE_THEMEJS) { htmlClass.push('_hidden') }
    og_title = title
    og_description = description
    og_url  = pageUrl? pageUrl + '?utm_source=homescreen' : undefined;

mixin helloWorld
  pre.
    &nbsp;
    This is a template.
    Edit this document to get started.
    &nbsp;
    #[+backlink|Back]
    &nbsp;
  //-

doctype html
html(lang=lang class=htmlClass.join(' '))
  |
  | <!-- #{name} v#{version} | #{copyright} -->
  | <!-- layout:#{layout} -->
  |
  block head
    head

      block meta
        include _meta
        include _seo

      block coreStyle
        style#_coreStyle.
          html,body { font-family:system-ui,sans-serif }
          hr { border:0;border-bottom:1px solid #888 }
          svg { display: inline-block; width: 1em; height: 1em; }
          ._flex { display:flex }

      block stylesheet

      block style
        style.
          /* your style goes here */
        //- style.

  block body
    body(class=bodyClass.join(' '))

      block views
        div#_views

          block view
            div#_main_view._view

              block header
                header#_header

              block main
                main#_main(class=mainClass.join(' '))

                  block article
                    article._article
                      section: +helloWorld
                      hr
                      section: pre: +pageData()

                  block side_article
                    aside._side_article
              
              block side_bar
                aside._side_bar

              block footer
                footer#_footer
                  hr
                  ._container: small| &copy; !{year} !{author}

      block widget
        aside#_widgets
      
      block script
        //- +jsv(src)

        if INCLUDE_THEMEJS
          +jsv(homeUri+'js/theme_v2.0.js')

        if INCLUDE_SERVICE_WORKERS
          +jsv(homeUri+'sw/sw.j')(defer)

        script| // your script goes here
        //- script.

      block final