include _functions
include _mixins
include _vars
include _vars_
include _logo
include _nav

block vars
  - layout = '_core/_html'
  -
    htmlClass = []
    bodyClass = []
    mainClass = []

block updatePageData
  +updatePageData

mixin helloWorld
  pre._scrollable.
    &nbsp;
    This is a place-holder content.
    Edit this document to get started.
    &nbsp;
  +backButton| Back

doctype html
html(lang=lang class=htmlClass.join(' '))
  |
  | <!-- #{name} v#{version} | #{copyright} -->
  | <!-- layout:#{layout} -->
  |
  block head
    head

      block meta
        include _meta
        include _seo

      block coreStyle
        style#_coreStyle.
          ._invisible { visibility:hidden !important }
          ._hide, ._hidden, [hidden] { display:none !important }
          ._scrollable { overflow:auto }
          html,body { font-family:system-ui,sans-serif }
          hr { border:0;border-top:1px solid #888 }
          .isvg svg { max-width:1em;max-height:1em }
        //- use ._needjs on elements that need js enabled
        style#_needjs(onload="this.remove()").
          ._needjs { display:none !important }
      
      block coreScript
        if INCLUDE_THEMEJS
          +fouc
          +ghost
          +jsv(homeUri+'js/theme_v2.0.js')(defer)

      block stylesheet

      block style
        style.
          /* your style goes here */
        //- style.

  block body
    body(class=bodyClass.join(' '))

      block views
        div#_views

          block view
            div#_main_view._view

              block noscript
                noscript._pa._tc_red._b._mono| // Please enable javascript

              block header
                header#_header: h1(style="margin-bottom:0") !{title}

              block main
                main#_main(class=mainClass.join(' '))

                  block article
                    article._article
                      section._scrollable: +helloWorld
                      hr
                      section._scrollable: pre: +pageData()

                  block side_article
                    aside._side_article
              
              block side_bar
                aside._side_bar

              block footer
                footer#_footer
                  hr
                  ._container: small| &copy; !{year} !{author}

      block widget
        aside#_widgets
      
      block script
        if INCLUDE_SERVICE_WORKERS
          +jsv(homeUri+'sw/sw.j')(defer)

        script| // your script goes here
        //- script.

      block final