-
  //- project
  name        = '[project_name]'
  version     = '[version]'

  //- metadata
  now         = new Date()
  today       = now.toGMTString()
  year        = now.getFullYear()

  //- credit
  author      = '[unknown]'
  publisher   = '[unknown]'
  license     = '[unknown]'

  //- layout
  layout      = '[layout]'

  //- uris
  homeUri     = '/'

  //- urls
  authorUrl   = '[author_url]'
  sourceUrl   = '[source_url]'
  localUrl    = '[local_url]'
  siteUrl     = '[site_url]'
  
  //- page
  pageid      = '[page_id]'
  pageUrl     = '[page_url]'
  title       = '[untitled]'
  description = '[undescribed]'

  //- open graph metadata for social media sharing
  og_url         = pageUrl + '?utm_source=homescreen'
  og_title       = title
  og_description = description
  og_type        = 'website'
  og_image       = undefined
  og_imageAlt    = undefined

  //- theme
  colorScheme = 'light dark'
  themeColor  = undefined

  //- document
  //- en or en-US following the BCP 47 language tag standard
  lang        = 'en'
  charset     = 'utf-8'

  //- theme
  INCLUDE_THEMEJS = true

  //- progressive web app metadata
  INCLUDE_MANIFEST        = false
  INCLUDE_SERVICE_WORKERS = false

mixin pageData
  +l
  +join([
    `name             = ${name}`,
    `version          = ${version}`,
    ``,
    `layout           = ${layout}`,
    `homeUri          = ${homeUri}`,
    `pageid           = ${pageid}`,
    ``,
    `localUrl         = ${localUrl}`,
    `siteUrl          = ${siteUrl}`,
    ``,
    `pageUrl          = ${pageUrl}`,
    `title            = ${title}`,
    `description      = ${description}`,
    ``,
    `og_url           = ${og_url}`,
    `og_title         = ${og_title}`,
    `og_description   = ${og_description}`,
    `og_type          = ${og_type}`,
    `og_image         = ${og_image}`,
    `og_imageAlt      = ${og_imageAlt}`,
    ``,
    `author           = ${author}`,
    `publisher        = ${publisher}`,
    `license          = ${license}`,
    `year             = ${year}`,
    ``,
    `authorUrl        = ${authorUrl}`,
    `sourceUrl        = ${sourceUrl}`,
  ])
  +l

mixin updatePageData
  -
    og_title = title
    og_description = description
    og_url = pageUrl + '?utm_source=homescreen'
