extends _html

block append vars
  -
    pageid      = 'lab/button'
    pageUrl     = siteUrl + '/lab/button.html'
    title       = `Button`
    description = 'Building buttons.'

block article
  article._article

    section._container: pre.pre.
      // #{description}
    //- pre.
    hr
    //- ----------------------------------------------------------
    mixin links(c)
      +_a(class=c).__primary Primary
      +_a(class=c).__secondary Secondary
      +_a(class=c) Ordinary
      +_a(class=c).__disabled.__primary Primary
      +_a(class=c).__disabled.__secondary Secondary
      +_a(class=c).__disabled Ordinary
    mixin buttons(c)
      button(class=c).__primary Primary
      button(class=c).__secondary Secondary
      button(class=c) Ordinary
      button(class=c disabled).__disabled.__primary Primary
      button(class=c disabled).__disabled.__secondary Secondary
      button(class=c disabled).__disabled Ordinary
    style.
      button { font-family:"Arial",sans-serif; }
      #buttons_a3 button:hover,
      #buttons_a31 button:hover { background-color: #88888844; }
      #buttons_a3 button,
      #buttons_a31 button { line-height: inherit; background: none; }
      .__disabled._a3,
      .__disabled._a31 { background:none !important;color:inherit !important;opacity:.3;cursor:default }
    //- ----------------------------------------------------------
    section#links._container: +links('_a31')
    section#buttons_a31._container: +buttons('_a31')
    //- ----------------------------------------------------------
    section#links._container: +links('_a3')
    section#buttons_a3._container: +buttons('_a3')
    //- ----------------------------------------------------------
    section._container: ._p: +buttons
    //- ----------------------------------------------------------