extends _html

block append vars
  -
    pageid      = 'lab/menu'
    pageUrl     = siteUrl + '/lab/menu.html'
    title       = `Menu`
    description = 'Menu development'

block append style
  +css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css')
  style.
    ._hover_show,
    ._hover_show a.__full,
    a.__full { display:block;text-align:left }

    ._hover_show { display:inline-block;position:relative }
    ._hover_show ._content {
      position:absolute;
      z-index:1;top:100%;left:0;
      overflow:hidden !important;
      transition:max-width .2s ease .2s, max-height .2s ease .2s;
      max-width:0px;max-height:0px;
    }
    ._hover_show._hover ._content,
    ._hover_show:hover ._content { max-width:300px;max-height:300px }

    ._click_show { display:block;position:relative }
    ._click_show ._content {
      overflow:hidden !important;
      transition:max-width .2s ease, max-height .2s ease;
      max-width:0px;max-height:0px;
    }
    ._click_show.open,
    ._click_show.open ._content { height:100%;max-width:100%;max-height:100% }

    ._foac,._foac * { white-space:nowrap !important;overflow:hidden !important }

  //- style.

    ._a a._hover_show:visited,
    ._a a._hover_show:hover,
    ._a a._hover_show { color:inherit;text-decoration:none }

  //- style.

mixin ax(href,title)
  a(href=href||'#' title=title onclick=onclick())._no_wrap&attributes(attributes): block

mixin _ax(href,title)
  +l
  a(href=href||'#' title=title onclick=onclick())._no_wrap&attributes(attributes): block

block article
  article._article._container

    section._mv._flex._gap

      div
        style.
          #sidemenu .content { width:200px;min-height:150px;max-height:150px }
          #sidemenu .boxline { height:150% }
        aside#sidemenu._click_show.open: ._content
          .content._scrollable._color_1
            ul._h_menu._m0._plain._color_1
              li: +ax.__full._a1m|#[+isvg(svgi.home,'_licon')]Home
              //- li
                style.
                  #menu_b .content { width:200px;height:150px }
                  #menu_b .boxline { height:150% }
                span#menu_b._hover_show._hoverx
                  +ax.__full._a1m| Menu#[+isvg(svgi.caret,'_ricon')._rotate90]
                  ._content: .content._color_1._border._scrollable
                    .boxline._pa_5._small| // menu

              li: hr._m0
              li._flex
                +ax._a1m: +isvg(svgi.bars,'_cicon')
                ._f: +ax._a1m| Link
                +ax._a1m: +isvg(svgi.ellipsis,'_cicon')
              li: hr._m0
              +repeat(4): li: +ax.__full._a1m Link

      div(style="width:150px"): ul._h_menu._m0._plain._color_1
        li: +ax.__full._a1m|#[+isvg(svgi.home,'_licon')]Home
        li: hr._m0
        li._flex
          +ax._a1m: +isvg(svgi.bars,'_cicon')
          ._f: +ax._a1m| Link
          +ax._a1m: +isvg(svgi.ellipsis,'_cicon')
        li: hr._m0
        li: +ax.__full._a1m Link
        //- li: hr._m0
        //- li: +axm('Menu')#m21.__absolute: ._color_1(style="width:220px"): ._pa_5._small| // more menues
        //- li: +axm('Menu')#m22: ._color_1(style="width:220px"): ._pa_5._small| // more menues
      div(style="width:150px"): ._color_1._pa_5._radius_5: ul._h_menu._m0._plain
        li: +ax.__full._a2|#[+isvg(svgi.home,'_licon')]Home
        li: hr._mv_25
        li._flex
          +ax._a2: +isvg(svgi.bars,'_cicon')
          ._f: +ax._a2| Link
          +ax._a2: +isvg(svgi.ellipsis,'_cicon')
        li: hr._mv_25
        li: +ax.__full._a2 Link
        //- li: hr._mv_25
        //- li: +axm('Menu')#m31.__absolute: ._color_1(style="width:220px"): ._pa_5._small| // more menues
        //- li: +axm('Menu')#m32: ._color_1(style="width:220px"): ._pa_5._small| // more menues
      ._f
    
    hr

    section._mv._flex(style="height:100px")
      ._fit(style="width:200px"): ._h_menu._color_1
        +a.__full._a1m(onclick=onclick('toggleMenu("regular");'))| #[+isvg(svgi.bars,'_licon')] Regular
        +a.__full._a1m(onclick=onclick('toggleMenu("absolute");'))| #[+isvg(svgi.bars,'_licon')] Absolute

      div
        style.
          #regular .content  { width:200px;height:100% }
          #regular .boxline  { height:150% }
        #regular._click_show: ._content
          .content._scrollable._color_1: .boxline._pa_5._small| // regular menu

      div
        style.
          #absolute { position:absolute;z-index:2;height:150px }
          #absolute .content { width:200px;height:100% }
          #absolute .boxline { height:150% }
        #absolute._click_show: ._content
          .content._scrollable._color_1: .boxline._pa_5._small| // absolute menu

      ._f._scrollable._fullcase: ._container: ._small._mono
        | content
        //- |#[+repeat(100)| way too long ]

    section._mv

      nav#menu_1._color_1._flex
        div: +a._a1m(onclick=onclick('toggleMenu("mainmenu");') title="Open main menu")| #[+isvg(svgi.bars,'_cicon')]
        ._f._indiv
          +ax._a1m| #[+isvg(svgi.home,'_licon')]Home

          style.
            #menu_a .content { width:200px;height:150px }
            #menu_a .boxline { height:150% }
          span#menu_a._hover_show._hoverx
            +ax._a1m| Menu#[+isvg(svgi.caret,'_ricon')._rotate90]
            ._content: .content._color_1._border._scrollable
              //- .boxline._pa_5._small| // menu
              ul._h_menu._m0._plain._color_1
                li: +ax.__full._a1m|#[+isvg(svgi.home,'_licon')]Home
                li: hr._m0
                li._flex
                  +ax._a1m: +isvg(svgi.bars,'_cicon')
                  ._f: +ax._a1m| Link
                  +ax._a1m: +isvg(svgi.ellipsis,'_cicon')
                li: hr._m0
                +repeat(4): li: +ax.__full._a1m Link

          //- +amx('Menu')#ma1.__absolutex: ._color_1(style="width:200px")
          //- 
            ._pa_5._small| // more menues
            //- ul._h_menu._m0._plain._color_1
              li: +ax.__full._a1m Link
              li: +ax.__full._a1m|#[+isvg(svgi.home,'_licon')]Home
              li: hr._m0
              li
                +ax._a1m: +isvg(svgi.bars,'_cicon')
                +ax._a1m: +isvg(svgi.ellipsis,'_cicon')
                +ax._a1m: +isvg(svgi.compare,'_cicon')
              li: hr._m0
              li: +axm('Menu')#ma2: ._color_1._pa_5(style="width:200px")._small| // more menues

          +ax._a1m| Link

        div: +ax._a1m(title="More ..")| #[+isvg(svgi.ellipsis,'_cicon')]

      style.
        #mainmenu ._content { height:150px }
        #mainmenu .content  { width:100%;height:100% }
        #mainmenu .boxline  { height:150% }
      aside#mainmenu._click_show: ._content
        .content._scrollable._color_1
          hr._m0
          .boxline._pa_5._small| // main menu
    
    hr

    section._mv._flex._gap_5

      nav._f._color_1._radius_5._pa_5#textlink
        +ax._a2t: +isvg(svgi.bars)
        +ax._a2t| Link
        +ax._a2t: +isvg(svgi.ellipsis)

      nav._f._color_1._radius_5._pa_5
        +ax._a2: +isvg(svgi.bars,'_cicon')
        +ax._a2| Link
        +ax._a2: +isvg(svgi.ellipsis,'_cicon')

      nav._f._color_1._radius_5._pa_5
        +ax._a3: +isvg(svgi.bars,'_cicon')
        +ax._a3| Link
        +ax._a3: i._icon._cicon|&middot;&middot;

    hr

block append script
  script.
    (()=>{
      const
        w = window,
        d = document,
        menuIs = {};
      w.toggleMenu = (id)=>{
        var e = d.getElementById(id);if(e){
          if(menuIs[id]!='open'){
            e.classList.add('open');
            e.classList.add('_foac');
            setTimeout(x=>{e.classList.remove('_foac')},200);
          }
          else {
            e.classList.remove('open');
            e.classList.add('_foac');
            setTimeout(x=>{e.classList.remove('_foac')},200);
          }
          menuIs[id] = menuIs[id]!='open'?'open':'closed';
        }
      }
    })();
  //- script.