extends _html

block append vars
  -
    pageid      = 'lab/menu'
    pageUrl     = siteUrl + '/lab/menu.html'
    title       = `Menu`
    description = 'Menu developments'

block append style
  +css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css')
  style.
    ._hover_show { display:inline-block }
    ._hover_show ._content {
      overflow:hidden !important;
      transition:max-height .2s ease .4s,max-width .2s ease .4s;
      max-height:0px;max-width:0px;
    }
    ._hover_show.__open ._content,
    ._hover_show:hover ._content { max-width:300px;max-height:100px }

    ._a a._hover_show:visited,
    ._a a._hover_show:hover,
    ._a a._hover_show { color:inherit;text-decoration:none }

    #mainmenu {
      overflow:hidden !important;
      transition:max-width .2s ease, max-height .2s ease;
      max-width:0px;max-height:0px;
    }
    #mainmenu.open { max-width:100%;max-height:100px; }

    ._a1m.__v { display:block;text-align:left }
    ._a2.__v { display:block;text-align:left;margin:.1em 0; }

  //- style.

mixin ax(href,title)
  a(href=href||'#' title=title onclick=onclick())._no_wrap&attributes(attributes): block

mixin _ax(href,title)
  +l
  a(href=href||'#' title=title onclick=onclick())._no_wrap&attributes(attributes): block

mixin axm(label)
  span._hover_show.__absolute&attributes(attributes)
    +ax._a1m|!{label} #[+fas.fa-caret-down._small]
    ._relative: ._absolute._content: block

mixin menu_sample(cls)
  -
    temp = [
      ['','About'],
      ['','Services'],
      ['','Gallery'],
      ['','Contact'],
    ];
  each v in temp
    +ax(class=cls href=v[0]) #{v[1]}

block header
  +simplestHeader
  +lab_nav

block article
  article._article._container

    section._p1

      style.
        #menu_1 ._a1m { padding: 0.344em 0.894em }
      nav._mv#menu_1
        ._color_1.flatmenu
          +ax._a1m(onclick=onclick('toggleMenu("mainmenu");') title="Open main menu")| #[+isvg(svgi.bars,'_cicon')]
          +ax._a1m(title="Go to homepage")| #[+isvg(svgi.home,'_licon')]Home
          +axm('Menu')#m2: ._color_1._pa_5(style="width:200px")._small| // more menues ...
          +ax._a1m| Link
          +ax._a1m(title="More ..")| #[+isvg(svgi.ellipsis,'_cicon')]
        #mainmenu: ._color_2._pa_5(style="height:400px")
          ._small| // your menu goes here

      nav._color_1._radius_5._clearfix._pa_5._mv
        +ax._a2| Link
        +ax._a2: +isvg(svgi.ellipsis,'_cicon')
        +ax._a2: +isvg(svgi.bars,'_cicon')
        +ax._a2: +isvg(svgi.home,'_cicon')
        =' | '
        +ax._a3| Link
        +ax._a3: +itext('_cicon')|&bull;
        +ax._a3: +isvg(svgi.compare,'_cicon')

    section._p1._flex._gap

      ._f(style="max-width:200px"): ul._m0._plain._color_1
        li: +ax._a1m.__v Link
        li: +ax._a1m.__v|#[+isvg(svgi.home,'_licon')]Home
        li: hr._m0
        li
          +ax._a1m: +isvg(svgi.bars,'_cicon')
          +ax._a1m: +isvg(svgi.ellipsis,'_cicon')
          +ax._a1m: +isvg(svgi.compare,'_cicon')
      ._f(style="max-width:200px"): ._color_1._pa_5._radius_5: ul._m0._plain
        li: +ax._a2.__v Link
        li: +ax._a2.__v|#[+isvg(svgi.home,'_licon')]Home
        li: hr._mv_25
        li
          +ax._a2: +isvg(svgi.bars,'_cicon')
          +ax._a2: +isvg(svgi.ellipsis,'_cicon')
          +ax._a2: +isvg(svgi.compare,'_cicon')
      ._f

block append script
  script.
    (()=>{
      const
        w = window,
        d = document;
      var mainMenuIs = 'closed';
      w.toggleMenu = (id)=>{
        mainMenuIs = mainMenuIs=='closed'?'open':'closed';
        var e = d.getElementById(id);
        if(e){ e.className = mainMenuIs }
      }
    })();
  //- script.