extends _html

block append vars
  -
    pageid      = 'lab/menu'
    pageUrl     = siteUrl + '/lab/menu.html'
    title       = `Menu`
    description = 'Menu development'
  - htmlClass.push('fullview')

block append style
  +css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css')
  style.
    .fullview #_view {
      overflow: auto scroll;scroll-behavior: smooth;padding-bottom:0;
      position: absolute; top: 0; right: 0; bottom: 40px; left: 0; height:auto; min-height:0;
    }

    ._outline {
      background-color:rgba(255, 0, 183, .15);
    }
    ._outline2 {
      outline: 1px solid rgba(0, 158, 36, .83);
      background-color:rgba(0, 158, 36, .15);
    }
    ._outline3 {
      outline: 1px solid rgba(0, 149, 141, 0.83);
      background-color:rgba(0, 149, 141, 0.15);
    }
    .f {
      padding:.25em .5em;
      text-align: center;
      font-size:.8em;
      user-select:none;
    }
    .f:hover {
      background-color:#8884;
    }

    a.__full { display:block;text-align:left }

    ._box { display:block;position:relative }
    ._box,
    ._box .__card,
    ._box .__case,
    ._box .__content { box-sizing:border-box }
    ._box .__card { width:100%;height:100% }
    ._box .__case {
      overflow:hidden;
      transition:width .2s ease, height .2s ease;
      width:0px;height:0px;
    }
    ._box ._pad { box-sizing:content-box }

    ._hox { z-index:1 }
    ._hox .__case {
      position:absolute;
      transition:width .2s ease .3s, height .2s ease .3s;
    }

  //- style.

mixin box(c1,c2)
  nav._box&attributes(attributes): .__case
    .__card(class=c1)
      .__card(class=c2): block

mixin hox(c1,c2)
  nav._box._hox&attributes(attributes): .__case
    .__card(class=c1)
      .__card(class=c2): block

mixin fit
  .f._outline._fit&attributes(attributes): block
mixin fix
  .f._outline2._f&attributes(attributes): block
mixin flex
  .f._outline3._f&attributes(attributes): block
mixin flexx(n)
  - for (let i = 0; i < n ; i++)
    .f._outline(class="_f"+n) Flex #{n}

block article
  article._article._container(style="margin-bottom:200px")

    //- hr
    //- section._mv._flex._gap
    //- 
      style.
        #m_one .__case { width:150px;height:150px }
        #m_one .__content   { min-height:150% }
      +box('_color_1 _border _pad _radius_5 _no_overflow','_scrollable')#m_one: .__content
        +a.__full._a1m|#[+isvg(svgi.home,'_licon')]Home
        hr._m0
        ._flex
          div: +a._a1m: +isvg(svgi.bars,'_cicon')
          ._fill: +a._a1m| Link
          div: +a._a1m: +isvg(svgi.ellipsis,'_cicon')
        hr._m0
        +repeat(3): +a.__full._a1m Link

      style.
        #m_two .__case { width:150px;height:150px }
      +box('_color_1')#m_two
        +a.__full._a1m|#[+isvg(svgi.home,'_licon')]Home
        hr._m0
        ._flex
          div: +a._a1m: +isvg(svgi.bars,'_cicon')
          ._fill: +a._a1m| Link
          div: +a._a1m: +isvg(svgi.ellipsis,'_cicon')
        hr._m0
        +a.__full._a1m Link

      style.
        #m_three .__case { width:150px;height:150px }
      +box('_color_1 _pa_5 _radius_5 _no_overflow')#m_three
        +a.__full._a2|#[+isvg(svgi.home,'_licon')]Home
        hr._mv_25
        ._flex
          div: +a._a2: +isvg(svgi.bars,'_cicon')
          ._fill: +a._a2| Link
          div: +a._a2: +isvg(svgi.ellipsis,'_cicon')
        hr._mv_25
        +a.__full._a2 Link

    hr
    section._mv

      nav._color_1._flex
        style.
          #hoxOne.open > ._hox > .__case,
          #hoxOne:focus-within > ._hox > .__case,
          #hoxOne:hover > ._hox > .__case { width:250px;height:150px }
          #hoxOne .__content { height:150% }
        span#hoxOne._inblock
          +a._a1m| #[+isvg(svgi.angle,'_cicon')._rotate90]
          +hox('_color_1 _border_top _scrollable')
            .__content: ._pa_5._small| // hoxOne
        ._f._indiv
          style.
            #hoxTwo.open > ._hox > .__case,
            #hoxTwo:focus-within > ._hox > .__case,
            #hoxTwo:hover > ._hox > .__case { width:250px;height:150px }
            #hoxTwo .__content { height:150% }
          span#hoxTwo._inblock
            +a._a1m| Two
            +hox('_color_1 _border _scrollable')
              .__content: ._pa_5._small| // hoxTwo
          style.
            #hoxThree.open > ._hox > .__case,
            #hoxThree:focus-within > ._hox > .__case,
            #hoxThree:hover > ._hox > .__case { width:250px;height:150px }
            #hoxThree .__content { height:150% }
          span#hoxThree._inblock
            +a._a1m| Three
            +hox('_pa_5','_color_1 _border _pad _radius_5 _no_overflow')
              ._scrollable._fullcase: .__content: ._pa_5._small| // hoxThree
        ._fill
        ._fit._text_right._no_wrap
          style.
            #hoxRight > ._hox > .__case { z-index:2;right:0 }
            #hoxRight.open > ._hox > .__case,
            #hoxRight:focus-within > ._hox > .__case,
            #hoxRight:hover > ._hox > .__case { width:250px;height:150px }
            #hoxRight .__content { height:150% }
          span#hoxRight._inblock._text_left
            +a._a1m(title="More ..")| #[+isvg(svgi.angle,'_cicon')._rotate90]
            +hox('_pa_5','_color_1 _border _scrollable')
              .__content: ._pa_5._small| // hoxRight

    //- hr
    section._mv._flex._gap

      ._f(style="min-height:100px"): ._color_1
        style.
          #coxThree > ._hox { z-index:3 }
          #coxThree.open > ._hox > .__case,
          #coxThree:focus-within > ._hox > .__case,
          #coxThree:hover > ._hox > .__case { width:270px;height:200px }
          #coxThree .__content { height:100% }
          #coxThree .card { width:200px;height:150px }
        span#coxThree._block.openx
          +a._a1m.__full| Three#[+isvg(svgi.angle,'_ricon')._rotate90]
          +hox('_pa_5 _outlinex','_color_1 _border _radius_5 _no_overflowx card')
            //- ._scrollable._scroll_y._fullcase: .__content
            .__content
              style.
                #coxThree1 > ._hox { z-index:2 }
                #coxThree1 > ._hox > .__case { position:relative }
                #coxThree1.open > ._hox > .__case,
                #coxThree1:focus-within > ._hox > .__case,
                #coxThree1:hover > ._hox > .__case { width:250px;height:150px }
                #coxThree1 .__content { height:100% }
              span#coxThree1._block.openx
                +a._a1m.__full| Sub Three#[+isvg(svgi.angle,'_ricon')._rotate90]
                +hox('_pa_5 _outline3x','_color_1 _border _radius_5 _no_overflow')
                  ._scrollable._fullcase: .__content
                    - n = 1;
                    +repeat(5): +a.__full._a1m Link #{n++}
              +repeat(1): +a.__full._a1m Other Subs

        style.
          #coxTwo > ._hox > .__case { position:relative }
          #coxTwo.open > ._hox > .__case,
          #coxTwo:focus-within > ._hox > .__case,
          #coxTwo:hover > ._hox > .__case { width:200px;height:187px }
          #coxTwo .__content { height:100% }
        span#coxTwo._block.openx
          +a._a1m.__full| Two#[+isvg(svgi.angle,'_ricon')._rotate90]
          +hox('_color_1 _border _no_overflow')
            ._scrollable._scroll_y._fullcase: .__content
              style.
                #coxTwo1 > ._hox { z-index:2 }
                #coxTwo1 > ._hox > .__case { position:relative }
                #coxTwo1.open > ._hox > .__case,
                #coxTwo1:focus-within > ._hox > .__case,
                #coxTwo1:hover > ._hox > .__case { width:100%;height:150px }
                #coxTwo1 .__content { height:100% }
              span#coxTwo1._block.openx
                +a._a1m.__full| Sub Two#[+isvg(svgi.angle,'_ricon')._rotate90]
                +hox('_pa_5','_color_1 _border _radius_5 _no_overflow')
                  ._scrollable._fullcase: .__content
                    - n = 1;
                    +repeat(5): +a.__full._a1m Link #{n++}
              +repeat(2): +a.__full._a1m Other Subs

        style.
          #coxOne > ._hox { z-index:2 }
          #coxOne.open > ._hox > .__case,
          #coxOne:focus-within > ._hox > .__case,
          #coxOne:hover > ._hox > .__case { width:200px;height:187px }
          #coxOne .__content { height:100% }
        span#coxOne._block.openx
          +a._a1m.__full| One#[+isvg(svgi.angle,'_ricon')._rotate90]
          +hox('_pa_5','_color_1 _border _radius_5 _no_overflow')
            ._scrollable._scroll_y._fullcase: .__content
              style.
                #coxOne1 > ._hox { z-index:2 }
                #coxOne1 > ._hox > .__case { position:relative }
                #coxOne1.open > ._hox > .__case,
                #coxOne1:focus-within > ._hox > .__case,
                #coxOne1:hover > ._hox > .__case { width:100%;height:123px }
                #coxOne1 .__content { height:100% }
              span#coxOne1._block.openx
                +a._a1m.__full| Sub One#[+isvg(svgi.angle,'_ricon')._rotate90]
                +hox('_pa_5','_color_1 _border _radius_5 _no_overflow')
                  //- ._scrollable._fullcase: .__content
                  .__content
                    - n = 1;
                    +repeat(3): +a.__full._a1m Link #{n++}
              +repeat(1): +a.__full._a1m Other Subs

        +repeat(1): +a.__full._a1m Other

    hr
    section._mv

      nav._color_1._flex
        +a._a1m(onclick=onclick('toggleMenu("menu_t1");') title="Open menu_t1")| #[+isvg(svgi.bars,'_cicon')]
        ._f._indiv
          +a._a1m(onclick=onclick('toggleMenu("menu_t2");') title="Open menu_t2")| T2
          +a._a1m(onclick=onclick('toggleMenu("menu_t3");') title="Open menu_t3")| T3A
          +a._a1m(onclick=onclick('toggleMenu("menu_t4");') title="Open menu_t4")| T4A
          +a._a1m(onclick=onclick('toggleMenu("menu_t5");') title="Open menu_t5")| T5A
        ._fill
        ._fit._text_right._no_wrap
          +a._a1m(onclick=onclick('toggleMenu("menu_r2");') title="Open menu_r2")| R2A
          +a._a1m(onclick=onclick('toggleMenu("menu_r1");') title="Open menu_r1")| R1

      style.
        #menu_t3 { z-index:1 }
        #menu_t3 .__case { position:absolute }
        #menu_t3.open .__case { width:300px;max-width:100%;height:150px }
        #menu_t3 .__content   { height:150% }
      +box('_color_1 _border_top _scrollable')#menu_t3
        .__content: ._pa_5._small| // T3A

      style.
        #menu_t4 .__case { position:absolute;z-index:2 }
        #menu_t4.open .__case { width:300px;max-width:100%;height:150px }
        #menu_t4 .__content   { height:150% }
      +box('_pa_5','_color_1 _border _scrollable')#menu_t4
        .__content: ._pa_5._small| // T4A

      style.
        #menu_t5 .__case { position:absolute;z-index:2 }
        #menu_t5.open .__case { width:300px;max-width:100%;height:150px }
        #menu_t5 .___content  { height:150% }
      +box('_pa_5','_color_1 _border _radius_5 _no_overflow')#menu_t5
        ._scrollable._fullcase
          .___content: ._pa_5._small| // T5A

      style.
        #menu_r2 { z-index:2 }
        #menu_r2 .__case { position:absolute;right:0 }
        #menu_r2.open .__case { width:300px;max-width:100%;height:150px }
        #menu_r2 .__content   { height:150% }
      +box('_pa_5','_color_1 _border _scrollable')#menu_r2
        .__content: ._pa_5._small| // R2A

      style.
        #menu_t1.open .__case { width:100%;height:150px }
        #menu_t1 .__content   { height:150% }
      +box('_color_1 _border_top _scrollable')#menu_t1
        .__content: ._pa_5._small| // T1

      style.
        #menu_t2.open .__case { width:100%;height:150px }
        #menu_t2 .__content   { height:150% }
      +box('_pa_5','_color_1 _border _scrollable')#menu_t2
        .__content: ._pa_5._small| // T2

      style.
        #menu_r1 .__case { margin-left:auto }
        #menu_r1.open .__case { width:100%;height:150px }
        #menu_r1 .__content   { height:150% }
      +box('_color_1 _border_top _scrollable')#menu_r1
        .__content: ._pa_5._small| // R1

    //- hr
    section._mv._flex(style="min-height:100px")
      ._color_1
        +a.__full._a1m(onclick=onclick('toggleMenu("side_t1");'))| #[+isvg(svgi.arrow,'_licon')] T1
        +a.__full._a1m(onclick=onclick('toggleMenu("side_t2");'))| #[+isvg(svgi.arrow,'_licon')] T2
        +a.__full._a1m(onclick=onclick('toggleMenu("side_t3");'))| #[+isvg(svgi.arrow,'_licon')] T3A
        +a.__full._a1m(onclick=onclick('toggleMenu("side_t5");'))| #[+isvg(svgi.arrow,'_licon')] T5A

      style.
        #side_t5 { z-index:2 }
        #side_t5 .__case { position:absolute }
        #side_t5.open .__case { width:250px;height:200px }
        #side_t5 .__content   { height:150% }
      div: +box('_ph','_color_1 _border _radius_5 _no_overflow')#side_t5
        ._scrollable._fullcase: .__content: ._pa_5._small| // T5A

      style.
        #side_t5 { z-index:2 }
        #side_t3 .__case { position:absolute }
        #side_t3.open .__case { width:250px;height:200px }
        #side_t3 .__content   { height:150% }
      div: +box('_color_1 _border_left _scrollable')#side_t3
        .__content: ._pa_5._small| // T3A

      style.
        #side_t1 { height:100% }
        #side_t1.open .__case { width:200px;height:100% }
        #side_t1 .__content   { height:150% }
      div: +box('_color_1 _border_left _scrollable')#side_t1
        .__content: ._pa_5._small| // T1

      style.
        #side_t2 { height:100% }
        #side_t2.open .__case { width:200px;height:100% }
        #side_t2 .__content   { height:150% }
      div: +box('_ph_5','_color_1 _border _scrollable')#side_t2
        .__content: ._pa_5._small| // T2

      ._fill._scrollable._scroll_y._fullcase: ._container: ._flex._gap_5
        ._full._flex._gap_5
          .f._outline._full| Full
          .f._outline2._f| Fix
          .f._outline._fit| Fit
          .f._outline._fill| Fill
        ._full._flex._gap_5
          +flex(style="flex:1 1 300px")| 300px
          +flex(style="flex:1 1 200px")| 200px
          +flex(style="flex:1 1 100px")| 100px
          +flex(style="flex:1 1 50px")| 50px
          +fit(style="flex-basis:180px")| Fit

    hr
    section._mv
      nav._color_1._flex
        +a._a1m| #[+isvg(svgi.bars,'_cicon')]
        ._f._indiv
          +a._a1m| #[+isvg(svgi.home,'_licon')]Link
          +a._a1m| Link#[+isvg(svgi.angle,'_ricon')._rotate90]
          +a._a1m| Link
          +a._a2t| Link
        ._fill
        ._fit._text_right._no_wrap
          +a._a1m(title="More .."): i._icon._cicon._b| &middot;&middot;
          +a._a1m(title="More .."): i._icon._cicon._b._rotate90| &middot;&middot;
        ._fit._text_right._no_wrap
          +a._a1m(title="More ..")| #[+isvg(svgi.ellipsis,'_cicon')]
          +a._a1m(title="More ..")| #[+isvg(svgi.ellipsis,'_cicon')._rotate90]

    //- hr
    section._mv._flex._gap_5

      nav._f: ._color_1
        +a._a1: +isvg(svgi.bars,'_cicon')
        +a._a1| Link
        +a._a1: +isvg(svgi.ellipsis,'_cicon')

      nav._f: ._color_1._radius_5._pa_5
        +a._a2t: +isvg(svgi.bars)
        +a._a2t| Link
        +a._a2t: +isvg(svgi.ellipsis)

      nav._f: ._color_1._radius_5._pa_5
        +a._a2: +isvg(svgi.bars,'_cicon')
        +a._a2| Link
        +a._a2: +isvg(svgi.ellipsis,'_cicon')

      nav._f: ._color_1._radius_5._pa_5
        +a._a3: +isvg(svgi.bars,'_cicon')
        +a._a3| Link
        +a._a3: +isvg(svgi.ellipsis,'_cicon')

    hr

block append script
  script.
    (()=>{
      const
        w = window,
        d = document;
      w.toggleMenu = (id)=>{
        var e = d.getElementById(id);if(e){
          if(!e.classList.contains('open')){
            e.classList.add('open');
            e.classList.add('_foac');
            setTimeout(x=>{e.classList.remove('_foac')},200);
          }
          else {
            e.classList.remove('open');
            e.classList.add('_foac');
            setTimeout(x=>{e.classList.remove('_foac')},200);
          }
        }
      }
    })();
  //- script.