//- ==============================================================
//- mixers
//- ==============================================================

mixin join(a,s)
  !=a.join(s||`\n`)

mixin repeat(a,b)
  - b = b||0;
  - let diff = Math.abs(a-b)+(b?1:0);
  - let n = 0;
  while n < diff
    block
    - n++;

//- ==============================================================
//- spaces
//- ==============================================================

mixin _
  =` `

mixin nbsp
  !=`&nbsp;`

mixin middots
  !=`&middot;&middot;&middot;`

mixin bulls
  !=`&bull;&bull;&bull;`

mixin l
  !=`\n`

mixin l_
  !=`\n&nbsp;`

//- ==============================================================
//- css mixins
//- ==============================================================

mixin css(href,media)
  link(rel="stylesheet" media=media||'all' href=href)&attributes(attributes)/

mixin cssv(href,media)
  link(rel="stylesheet" media=media||'all' href!=appendVersion(href))&attributes(attributes)/

//- ==============================================================
//- javascripts
//- ==============================================================

mixin js(src)
  script(type="text/javascript" src=src)&attributes(attributes)

mixin jsv(src)
  script(type="text/javascript" src!=appendVersion(src))&attributes(attributes)

//- ==============================================================
//- navigations
//- ==============================================================
//- a link must have href for good SEO, so # default were considered best

mixin a(href,title)
  a(href=href||'#' title=title)&attributes(attributes): block

mixin _a(href,title)
  +l
  a(href=href||'#' title=title)&attributes(attributes): block

mixin lia(href,title)
  li: a(href=href||'#' title=title)&attributes(attributes): block

//- ==============================================================
//- images
//- ==============================================================

mixin img(src,alt,title)
  img(src=src alt=alt title=title)&attributes(attributes)/

mixin svgi(d,viewBox,opacity,fill)
  svg(viewBox=viewBox||"0 0 24 24")&attributes(attributes): path(d=d fill=fill||'currentColor' fill-opacity=opacity||'1')

//- ==============================================================
//- php
//- ==============================================================

mixin include_php(uri)
  !=`<?php include "${uri}" ?>`

mixin php
  !=`<?php `
  block
  !=` ?>`

//- ==============================================================
//- to do
//- ==============================================================
//- try this filter
//- see : https://pugjs.org/language/filters.html
